NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xD88295776Bc83896E1dCFb04C4df1B474b4e7909
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_
# optional:
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
