NEXT_PUBLIC_SITE_URL=https://frogger-ochre.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xD88295776Bc83896E1dCFb04C4df1B474b4e7909
NEXT_PUBLIC_BASE_APP_ID=6a09a949be037e1a864d98ac
NEXT_PUBLIC_BUILDER_CODE=bc_2lsx81gv
# optional:
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
